// COLORS
$body-bg-color: #f8f9fb;
$nav-top-bg-color: #f5f7fa;

$search-input-bg-color: #ebeff3;

$content-primary-color: #a5adb3;
$content-secondary-color: #76828c;

$add-btn-bg-color: #999999;
$footer-bg-color: #e6e9eb;

$primary-green-color: #d7e8ba;
$secondary-green-color: #b9d592;

$border-color: #ebeff3;
$dropdown-border-color: #dfe2e6;

$white: #ffffff;
$black: #000000;


// SPCACING
$gutter-horizontal: 3rem;


// FONT SIZE
$default-size: 1.6rem;