.price {
    font-weight: 500;
    
    &__block {
        display: inline-block;
    }

    &__amount {
        font-size: 2.5rem;
    }

    &.price--more-option {
        font-weight: 700;
        line-height: 1.2;
        .price__currency {
            font-size: $default-size;
        }
        .price__amount {
            font-size: $default-size;
        }
    }
}